# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Directory-based project format:
.idea/

## _src
## -----------------------------
_src/
_docs/

## CI3 Specific
application/logs/*
!application/logs/index.html
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
system/
vendor/

## Assets/Libs
assets/default/vendors/

## Users storage
storage/

## Node modules
node_modules/